<section data-ng-controller="ClientsController" data-ng-init="findOne()">
	<h1 data-ng-bind="client.name"></h1>
	<div data-ng-show="authentication.user._id == client.creator._id">
		<a href="/#!/clients/{{client._id}}/edit">edit</a>
		<!--a href="#" data-ng-click="delete();">delete</a-->
	</div>
	<small>
		<em>Posted on</em>
		<em data-ng-bing="client.created | date: 'mediumDate'"></em>
		<!--em>by</em>
		<em data-ng-bind="client.creator.fullName"></em-->
	</small>
	<p data-ng-bind="client.clienturl"></p>
</section>
